@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme{
  /* Colors */
  --color-primary: #6366f1;
  --color-secondary: #8b5cf6;
  --color-accent: #ec4899;
  --color-dark: #1e293b;
  --color-light: #f8fafc;

  /* Font */
  --font-sans: 'Inter', sans-serif;
}
html{
  scroll-behavior: smooth;
}

/* -------Base Styles--------- */

@layer base{
  body{
    @apply bg-gray-50 text-dark font-sans antialiased;
  }
  .app-container{
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
/* -------Components Styles--------- */
@layer components{
  /* ---------- Buttons ---------- */
  .but-primary{
    @apply bg-primary hover:bg-primary/90 px-6 py-3 text-white rounded-lg font-medium hover:shadow-lg active:bg-primary/90 hover:cursor-pointer text-sm transition  dark:text-gray-800
  }
  .but-outline{
    @apply border-2 border-gray-300 hover:border-primary bg-secondary px-6 py-2 text-gray-700 hover:text-primary/90 rounded-xl font-semibold hover:shadow-lg active:bg-secondary/90 hover:cursor-pointer text-sm transition  dark:text-gray-800
  }
  /* ---------- Cards ---------- */
  /* ---------- Forms ---------- */
  /* ---------- Navigation ---------- */
  .nav-item{
    @apply text-gray-500 hover:text-primary text-sm font-medium px-3 py-2 ;
  }
  .nav-btn{
    @apply text-white bg-primary px-4 py-2 rounded-md hover:bg-primary/90 text-sm font-medium transition;
  }
  .mobile-nav-item{
    @apply block text-gray-500 hover:text-primary hover:bg-gray-50 text-base font-medium px-3 py-2 rounded-md;
  }
  .mobile-nav-btn{
    @apply block w-full text-center text-white bg-primary px-4 py-2 rounded-md hover:bg-primary/90 text-sm font-medium transition;
  }

  /* ---------- Sections ---------- */
  .gradient-text{
    @apply bg-gradient-to-r from-primary to-accent bg-clip-text text-transparent;
  }
}